@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#root {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px;
  padding: 0 20px;
}

.wrapper {
  transition: transform 375ms ease;
  transform: translateY(200px);
}

.wrapper--up {
  transform: translateY(0);
}

.logo {
  position: fixed;
  top: 40px;
  left: 40px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(255,255,255,0.03);
  cursor: pointer;
  border: 2px solid transparent;
  text-align: center;
  font-weight: bold;
  transition: all 375ms ease;
}

.label:hover {
  background: rgba(255,255,255,0.15);
}

.label input {
  display: none;
}

.label--checked {
  background: rgba(255,255,255,0.15);
  border: 2px solid #fff;
}

.label--checked.alliance {
  border-color: #0078ff;
}

.label--checked.horde {
  border-color: #b30000;
}

.factions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.toon {
  opacity: 0;
  animation: fadeIn 375ms ease forwards;
  background: rgba(255,255,255,0.1);
  color: #fff;
  border-radius: 20px;
  margin-top: 40px;
  height: 400px;
  background-size: cover;
}

.toonWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(#1110, #111);
}

.toonTitle {
  margin: 0;
  margin-bottom: 5px;
}

.toonGuideLink {
  color: #f7481f;
  font-weight: 500;
  cursor: pointer;
}

.toonGuideLink:hover {
  text-decoration: underline;
}

@media(min-width: 768px) {

  #root {
    margin-top: 10vh;
  }

  .factions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
  }


  .roll:hover {
    transform: translateY(-2px);
  }

  .roll:active {
    transform: translateY(0);
  }

}
