@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

img {
  max-width: 100%;
}

.unstyled {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

.text-centered {
  text-align: center;
}

.flat {
  margin: 0 !important;
}

.pressed {
  margin: 0;
  margin-bottom: 10px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

.container--small {
  max-width: 500px;
}

.logo {
  width: 150px;
}

.appHeader {
  padding: 0 40px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.appRoll {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.buildsHeader {
  text-align: center;
  margin-bottom: 40px;
  font-size: 14px;
  padding: 0 20px;
}

.buildsHeader h1 { margin-bottom: 10px }

.disclaimer {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  animation: fadeInUp 375ms 100ms ease forwards;
  opacity: 0;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background: rgba(255,255,255,0.03);
  cursor: pointer;
  border: 2px solid transparent;
  text-align: center;
  font-weight: bold;
  transition: all 375ms ease;
}

.label:hover {
  background: rgba(255,255,255,0.15);
}

.label input {
  display: none;
}

.label--checked {
  background: rgba(255,255,255,0.15);
  border: 2px solid #fff;
}

.label--checked.alliance {
  border-color: #0078ff;
}

.label--checked.horde {
  border-color: #b30000;
}

.rollWrapper {
  padding-bottom: 100px;
}

.factions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.toon {
  opacity: 0;
  animation: fadeIn 375ms ease forwards;
  background: rgba(255,255,255,0.1);
  color: #fff;
  border-radius: 20px;
  margin-top: 40px;
  height: 400px;
  background-size: cover;
}

.toonWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: linear-gradient(#1110, #111);
}

.toonTitle {
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}

.link {
  color: #f7481f;
  font-weight: 500;
  cursor: pointer;
}

.link:hover {
  color: #f7481f;
  text-decoration: underline;
}

.builds {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1800px;
  margin-bottom: 100px;
}

.buildTitle {
  font-weight: 900;
}

.spec {
  color: #fff;
}

.specBadge {
  font-size: 13px;
  background: #a335ee;
  color: #fff;
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,1);
}

.specCard {
  height: 350px;
  border-radius: 8px;
  background-color: #222;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.specLink {
  text-align: center;
  display: block;
  opacity: 0;
  transform: translateY(20px);
  margin: 0;
  margin-top: 20px;
  transition: all 375ms ease;
}

.buildHeader {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}

.buildHeader img {
  width: 24px;
}

.specWrapper {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  flex-direction: column;
  background: linear-gradient(#1110, #111);
}

.specBg {
  background-size: cover;
  position: absolute;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.75;
  transition: all 375ms ease;
  transform-origin: center;
}

.spec:hover .specBg {
  transform: scale(1.1);
  opacity: 1;
}

.spec:hover .specLink {
  opacity: 1;
  transform: translateY(0);
}

.stats p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.stats strong.A {
  color: green;
}

.stats strong.B {
  color: yellow;
}

.stats strong.C {
  color: orange;
}

.stats strong.S {
  color: #a335ee;
}

.stats--inline {
  display: flex;
  align-items: center;
  gap: 20px;
}

.stats--large p {
  font-size: 18px;
}

.stats--inline p {
  gap: 10px;
  justify-content: flex-start;
}

.specTitle {
  font-size: 20px;
  margin-bottom: 15px;
}

.toc {
  list-style: none;
  padding: 0;
}

.toc a {
  color: #f7481f;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: -10px;
  transition: background 375ms ease;
  margin-bottom: 1px;
  font-size: 14px;
}

.toc .active a {
  background: rgba(255,255,255,0.05);
}

.toc a:hover {
  background: rgba(255,255,255,0.05);
  color: #f7481f;
  text-decoration: none;
}

.guideContent section {
  background: rgba(255,255,255,0.025);
  padding: 40px;
  margin-bottom: 40px;
  border-radius: 20px;
}

.guideContent section h2 {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.25);
}

.guideHeader {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.guideCover {
  border-radius: 40px;
  margin-bottom: 20px;
}

.guideTalents {
  margin-bottom: 40px;
}

.guideIntro {
  font-size: 110%;
  line-height: 1.5;
}

.guideAvatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
}

.guideRatings {
  margin-bottom: 40px;
}

.guideAuthor {
  font-size: 14px;
}

.guideAuthorFooter {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  line-height: 1.2;
}

.wowhead-embed {
  margin: 0 !important;
  max-width: none !important;
}

.factionItem {
  display: flex;
  align-items: center;
  gap: 20px;
}

.macro {
  background: #202020;
  border-radius: 4px;
  color: #ddd;
  font-family: "JetBrains Mono",Consolas,"Bitstream Vera Sans Mono",monospace;
  line-height: normal;
  margin: 20px 0;
  overflow-wrap: break-word;
  padding: 20px;
  white-space: pre-wrap;
  font-size: 15px;
}

@media(max-width: 767px) {

  .specs {
    margin-bottom: 40px;
  }

  .specs {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: -20px;
    margin-left: -20px;;
  }

  .specs a {
    display: inline-block;
    width: 200px;
    margin-left: 10px;
  }

  .specs a:first-child {
    margin-left: 20px;
  }

  .specs a:last-child {
    margin-right: 20px;
  }

  .specLink { display: none }
  
}

@media(min-width: 768px) {

  .guideAuthor {
    position: fixed;
    bottom: 40px;
    width: 300px;
  }

  .guideSidebar {
    position: sticky;
    top: 40px;
    height: calc(100vh - 290px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .guideGrid {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 80px;
  }

  .guideSkills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }

  .guideSkills p {
    margin-bottom: 0;
  }

  .builds {
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }

  .factions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
  }

  .specs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }

  .spec {
    transition: transform 375ms ease;
  }

  .spec:hover {
    transform: translateY(-5px);
  }

  .roll:hover {
    transform: translateY(-2px);
  }

  .roll:active {
    transform: translateY(0);
  }

}

@media(min-width: 1024px) {
  .builds {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 1600px) {
  .builds {
    grid-template-columns: repeat(3, 1fr);
  }
}
